body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    color: #333;
}
.container {
    background-color: #f0f0f0;

    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    padding-top: 50px;
    padding-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 5px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 28px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#rock {
    background-color: #2196F3;
}

#paper {
    background-color: #4CAF50;
}

#scissors {
    background-color: #FF9800;
}

p {
    text-align: center;
    font-size: 24px;
    padding-bottom: 10px;
    color: #333;
}

#winnerAnnouncement {
    color: #1ba51f;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
}

#reset {
    display: block;
    margin: 20px auto;
    background-color: #FF5722;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reset:hover {
    background-color: #E64A19;
} 